
/************** c o l o r **************/
.header,.navbg_on,.an_aon,.boxx_tit,.tableble_name,.search_a,.sear_butt,.list_lion,.actor_act,.box_but_on,.login{ background-color:#0866c6;}
.fil_time,.boxx_t_on{ color:#0866c6;}
.boxx,.list tr td,.box_but_on{ border-color:#0866c6;}












